.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em;
}
.content {
  position: relative;
}
.movie-wrapper {
  margin: 1em;
  padding: 1em;
  background-color: beige;
  border-radius: 5px;
  box-shadow: 0 0px 4px 2px rgba(0, 0, 0, 0.2);
  width: 250px;
  height: 350px;
}

.movie-wrapper:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 1, 0, 1);
  cursor: pointer;
}
